.overlay {
    background: rgba(68, 0, 105, 0.349); /* Adds a dark background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
/* From Uiverse.io by qhns3 */ 
.container1 {
  width: 100%;
  height: 100vh;

  background: #612c7d;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.055);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}